<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>emoji-input</h2>
      <h3>Examples</h3>
      <code> {{'<'}}emoji-input [(model)]="testVar"{{'>'}}{{'<'}}/emoji-input{{'>'}}</code>
      <br>
      <emoji-input [(model)]="testModel"></emoji-input>
      {{testModel}}
      <br><br>
      <code> {{'<'}}emoji-input [popupAnchor]="'bottom'"{{'>'}}{{'<'}}/emoji-input{{'>'}}</code>
      <p>You can specify anchor point of the emoji selector</p>
      <pre>popupAnchor - 'top | bottom'</pre>
      <emoji-input [popupAnchor]="'bottom'"></emoji-input>
      <br><br>
      <code> {{'<'}}emoji-input [onEnter]="onEnterFunction"{{'>'}}{{'<'}}/emoji-input{{'>'}}</code>
      <p>Specify function to be called when pressing enter key</p>
      <p>Enter pressed: {{pressedCount}} time(s)
      <emoji-input [onEnter]="enterTest.bind(this)"></emoji-input>
      <br><br>
      <h2>EmojiService</h2>
      <br>
      <code>EmojiSerice</code>
      <p>EmojiService service provider</p>
      <code>new EmojiService().emojify(str)</code>
      <code>new EmojiService().getAll()</code>
      <code>new EmojiService().get()</code>
    </div>
  </div>
</div>
